.navigation{
    background-color: #eccfb5;
}
.navigation .nav-link{
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.1rem;
}
.navigation .nav-link:hover,.footer .nav-link:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.navigation .dropdown-toggle{
    background: #eccfb5;
    border: none;
    padding: 0px;
    margin-top: 11px;
    font-size: 1.1rem;
    font-weight: bold;
}
.navigation .dropdown-item{
    color: #eccfb5;
    font-size: 1.1rem;
    font-weight: bold;
}
.navigation .cart{
    background-color: #99704c;
    border: solid 1px white;
    border-radius: 25px;
}
.navigation .fa-cart-shopping{
    color: white;
    transition: 0.3s;
}
.navigation .fa-cart-shopping:hover{
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
}
.banner, .banner .text{
    background-color: #dfb891;
    padding-top: 30px;
}
.banner .text{
    background-color: #dfb891;
    margin-left: 147px;
    margin-top: 30px;
}
.banner .text h1{
    color: white;
    font-size: 5rem;
}
.banner .text .btn{
    background: white;
    color: #B5651D;
    font-weight: bold;
    width: 150px;
    transition: 0.3s;
}
.banner .text .btn:hover{
    background: #B5651D;
    color: white;
    font-weight: bold;
    width: 150px;
    transform: scale(1.1);
    transition: 0.3s;
}
.banner .banner-img{
    padding-left: 72px;
}
.brands{
    padding-top:30px;
    padding-bottom:30px;
    background-color: rgb(170, 169, 167); 
}
.brands p{
    color: white;
}
.brands .btn{
    background-color: white;
    color: #B5651D;
    font-weight: bold;
    width: 150px;
    padding: 0px;
    transition: 0.3s;
}
.brands .btn:hover{
    color: white;
    background-color: #B5651D;
    font-weight: bold;
    width: 150px;
    transition: 0.3s;
}