.navigation{
    background-color: #eccfb5;
}
.navigation .nav-link{
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.1rem;
}
.navigation .nav-link:hover,.footer .nav-link:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.navigation .dropdown-toggle{
    background: #eccfb5;
    border: none;
    padding: 0px;
    margin-top: 11px;
    font-size: 1.1rem;
    font-weight: bold;
}
.navigation .dropdown-item{
    color: #eccfb5;
    font-size: 1.1rem;
    font-weight: bold;
}
.navigation .cart{
    background-color: #B5651D;
    border: solid 1px white;
    border-radius: 25px;
}
.navigation .fa-cart-shopping{
    color: white;
    transition: 0.3s;
}
.navigation .fa-cart-shopping:hover{
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
}
.banner, .banner .text{
    background-color: #eccfb5;
}
.banner .text{
    background-color: #eccfb5;
    color: white;
}
.banner .text h1{
    font-size: 2rem;
}