.header5{
    background-color: rgb(136, 136, 128);
    margin-top: 10px;
    /* text-align: center; */
}

.footer h2{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.footer p{
    color: white;
    font-size: 15px;
}

.footer{
    padding-top: 15px;
}

.footer1 input{
    font-size: 15px;
    background-color: #f7f6fb;
    border-radius: 4px;
    border: 1px solid #ffffff61;
}

.footer1 p{
    color: white;
    font-size: 15px;
}

.footer1 h2{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.footer1{
    padding-top:15px;
    margin-left: 90px;
}

